@import "_mixins.scss";
@import "custom.scss";
@import "bootstrap/scss/bootstrap";

.custom-controls-stacked.is-invalid~.invalid-feedback {
    display: block;
}

body {
    background: $gray-100;
    font-family: 'Open Sans', sans-serif;
}

header {
    color: $gray-800;

    img {
        float: left;
        height:  3.8rem;
    }

    h1 {
        font-family: 'Pragati Narrow', sans-serif;
        font-weight: 700;
        text-align: center;
    }
}

.custom-radio {
    label {
        font-size: 1.1em;
        line-height: 1.7em;
    }
}

#video {
    background: darken($primary, 15%);
    border-top: solid 7px darken($primary, 25%);
}

.videoWrapper {

}

.poster {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.video-button {
    background: rgba(0, 0, 0, 0.5);
    border: 5px white solid;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    padding: 0 8px;
    cursor: pointer;

    @include transition(all, 100ms, ease-in-out);
    @include box-shadow(20px, 0px, 50px, rgba(0,0,0,0.5));
    @include border-radius(50%);

    .video-button-content {
        border-bottom: 22px transparent solid;
        border-left: 35px white solid;
        border-top: 22px transparent solid;

        display:block;
        content: '';

        margin-left: 25px;

        @media screen and (max-width: $break-point-small) {
            margin-left: 17px;
        }
    }

    &:hover {
        @include box-shadow(20px, 0px, 60px, rgba(0,0,0,0.45));
        @include transform(scale(1.1));
    }
}

.video {
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 10%;
    right: 10%;
    z-index: 10000;

    .backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #222;
        opacity: 0.9;
    }

    .video-content {
        position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    	height: 0;

        iframe {
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        }
    }
}

/*.video {
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
    border-radius: 6px;
    overflow: hidden;

    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}*/

.explications {
    background: $gray-300;
    border-radius: 6px;
    font-size: 0.9rem;
}

.form-info-text {
    background: lighten($primary, 25%);
    border-radius: 6px;

    a {
        color: darken($primary, 15%);
    }
}

#reglements {
    ol {
        padding-left: 25px;
        li {
            font-size: 0.85rem;
        }
    }
}

footer {
    background: $gray-800;
    color: $gray-200;

    h5 {
        color: #fff;
    }
}
